{% extends 'base.html' %}

{% block head %}
<title>Task master</title>
{% endblock %}



{% block body %}

<div class="content">
{% if tasks|length == 0 %}
<p>There are no tasks.Please create one</p>

{% else %}
<h1 style="text-align: center;">Tasks</h1>



<table>
    <tr>
        <th>Task Content</th>
        <th>Date Created</th>
        <th>Actions</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.content}}</td>
        <td>{{task.date_created.date()}}</td>
        <td>
            <a href="/update/{{task.id}}">Update</a>
            <a href="/delete/{{task.id}}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>



{% endif %}
<div class="form">
<form action="/" method="POST" >
<input type="text" id="content" name="content"/>
<button type="submit">Add Task</button>
</form>
</div>

</div>
{% endblock %}